<h2>{{title}}</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="title">Title</label>
  <input type="text" id="title"
         placeholder="Enter movie title..."
         formControlName="title">
  <div class="error" *ngIf="required('title')">Title is required.</div>
  <div class="error" *ngIf="titleExists">Title is already exists.</div>
  <label for="description">Overview</label>
  <input type="text" id="description"
         placeholder="Enter movie overview..."
         formControlName="overview">
  <div class="error" *ngIf="required('overview')">Overview is required.</div>

  <label for="publishDate">Release date</label>

  <p-calendar inputId="publishDate" formControlName="release_date"
              [yearNavigator]="true" [monthNavigator]="true"
              [readonlyInput]="true" yearRange="1900:2021">
  </p-calendar>
  <div class="error" *ngIf="required('release_date')">Publish date is required.</div>
  <div class="error" *ngIf="invalid">Release date is invalid.</div>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
